body{
	background-image: url(images/pexels-photo.jpg);
	
}
.container{
}
h1{
	text-align: center;
	margin-top: 50px;
	font-family: 'Courgette', cursive;
	color:white;
	font-weight: 100;
	font-size: 50px;
}

#searchInput{
	width:250px;
	display: inline-block;
	margin-left: 25px;
	border: 5px;
	border-color: white;
	margin-bottom: 20px;
}
img{
	width: 100px;
	height: 100px;
	margin: 0 auto;
	display: block;
	margin-top: 20px;
	margin-bottom: 40px;
}
li{
	background-color: white;
	padding: 20px;
	margin-top: 10px;
	margin-bottom: 15px;
	border-radius: 5px;
	font-size: 14px;
}